color_carmine_pink = #ef4d41
color_blue_light = #3061a0
color_blue_dark = #0a122a

color_cover_background = color_blue_light
color_body_background = white
color_body = #313131
color_link = color_blue_light
color_link_hover = color_carmine_pink
color_title = white
color_slogan = white
color_image_blend = rgba(39, 83, 143, 1)
color_button = color_carmine_pink
color_hover_button = color_carmine_pink
color_scroll_button = rgba(48, 97, 160, 0.8)
color_scrolldown_button = color_carmine_pink
color_scrolldown_button_background = color_carmine_pink
color_scrollup_button = white
color_scrollup_button_background = #0A122A
color_footer_text = #B3B3B3
color_footer_link_text = #5B5B5B
color_footer_line = #f6f6f6
color_navigation = rgba(239, 77, 65, 0.9)
color_navigation_item_text = white
color_mobile_navigation_toggle = white
color_mobile_navigation_toggle_background = color_carmine_pink
color_mobile_navigation = white
color_mobile_navigation_border = color_carmine_pink
color_mobile_navigation_link = color_carmine_pink
color_mobile_navigation_link_hover = white
color_mobile_navigation_link_hover_background = color_carmine_pink
color_blog_tag_cloud_border = #DFDFDF
color_sidebar_item = white
color_sidebar_item_hover = #15203c
color_sidebar_item_background = #33556A
color_blog_archives_border = #DFDFDF
color_blog_categories_border = #DFDFDF
color_blog_rss_feeds_border = #DFDFDF
color_form_input_field = #CCCCCC
color_form_input_field_focus = #33556A
color_form_input_button = #6A6A6A
color_form_input_button_hover = #15203c
color_form_input_button_hover_border = #15203c
color_form_input_button_hover_text = white
color_form_input_button_border = #CCCCCC
color_photo_background = white