setTransition(element, seconds)
  -webkit-transition: element seconds;
  -moz-transition: element seconds;
  -o-transition: element seconds;
  -ms-transition: element seconds;
  transition: element seconds;

setLinearTransition(element, seconds)
  -webkit-transition: element seconds linear;
  -moz-transition: element seconds linear;
  -o-transition: element seconds linear;
  -ms-transition: element seconds linear;
  transition: element seconds linear;